<app-navbar></app-navbar>
<div class="container mt-2">
  <div class="row">
    <div class="col-2">
      <a href="#" class="btn bg-danger text-white" style="border-radius: 25px" onclick="irParaPokemonAnterior()"> < </a>

    </div>
    <div class="col-2 text-end">
      <a href="#" class="btn bg-danger text-white h1" style="border-radius: 25px"  onclick="irParaPokemonPosterior()"> > </a>

    </div>
    <div class="col">
      <input class="form-control me-2" type="search" placeholder="Digite um nome de pokemon" aria-label="Search" oninput="findPokemon(this.value.toLowerCase())">

    </div>
  </div>  <div class="row">

    <div class="col-md-4">
      <app-pokemon></app-pokemon>
    </div>
    <div class="col-md-8">

    </div>
  </div>
</div>
